<html>
  <head>
     {% block title %} {% endblock %}
  </head>
  <body>
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('logout') }}">logout</a></li>
      <li><a href="{{ url_for('insert') }}">add data</a></li>
    </ul>
{% block content %} {% endblock %}    
  </body>
</html>
