{% extends 'base.html' %}

{% block title %} <title>{{ title }} </title> {% endblock %}

{% block content %}
<h1>edit name and families</h1>
{% for name in names %}
<form class="names" action="{{ url_for('edit', name= name['name']) }}" method="POST">
  <input name="name" type="text" value="{{ name['name'] }}" />
  <input name="family" type="text" value="{{ name['family'] }}" />
  <input name="send" type="submit" value="send"/>
</form>
{% endfor %}
{% endblock %}
