{% extends 'base.html' %}

{% block title %} <title>{{ title }} </title> {% endblock %}

{% block content %}
<h1>these data were entered!</h1>
<ul>
  {% for name in names %}
  <li>{{ name['name'] }} {{ name['family'] }} <a href="{{
  url_for('remove', name= name['name'] ) }}">remove</a> <a href="{{
  url_for('edit', name= name['name']) }}">Edit</a> </li>
  {% endfor %}
</ul>
{% endblock %}

