{% extends 'base.html' %}

{% block title %} <title>{{ title }} </title> {% endblock %}

{% block content %}
<h1>insert new name</h1>
<form class="names" action="{{ url_for('insert') }}" method="POST">
  <input name="name" type="text" placeholder="name"/>
  <input name="family" type="text" placeholder="family"/>
  <input name="send" type="submit" value="send"/>
</form>
{% endblock %}
