<htm>
  <head></head>
  <body>
    <h1>login:)</h1>
    <form class="login" action="{{ url_for('dologin') }}" method="POST">
      <input name="username" type="text" placeholder="username"/>
      <input name="password" type="text" placeholder="password"/>
      <input name="submit" type="submit" value="send"/>
    </form>
  </body>
</htm>
